/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

table.table {
  table-layout: fixed;
  /* face să respecte lățimile setate */
  width: 100%;
  /* să ocupe tot spațiul containerului */
}

table.table th,
table.table td {
  overflow: hidden;
  /* ascunde conținutul ce depășește */
  text-overflow: ellipsis;
  /* pune ... când e prea lung */
  white-space: nowrap;
  /* nu face wrap pe mai multe linii */
}

/* Setează lățimi fixe coloanelor (ajustează după nevoie) */
th:nth-child(1),
td:nth-child(1) {
  width: 20%;
}

/* Title */
th:nth-child(2),
td:nth-child(2) {
  width: 30%;
}

/* Description */
th:nth-child(3),
td:nth-child(3) {
  width: 10%;
}

/* Status */
th:nth-child(4),
td:nth-child(4) {
  width: 20%;
}

/* Photo */
th:nth-child(5),
td:nth-child(5) {
  width: 20%;
}

/* Actions */