<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/58e0dd48-6f90-4eb4-9d24-5e2f5b902132/resourcegroups/AdminMVC20250613151709ResourceGroup/providers/Microsoft.Web/sites/PracticaDeStagiere</ResourceId>
    <ResourceGroup>AdminMVC20250613151709ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/58e0dd48-6f90-4eb4-9d24-5e2f5b902132/resourceGroups/AdminMVC20250613151709ResourceGroup/providers/Microsoft.ApiManagement/service/AdminMVCapi/apis/AdminMVC</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://practicadestagiere-bjguexgbaeewbpf4.polandcentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>923b8fa8-750b-42e3-bbdd-ae53eac3461e</ProjectGuid>
    <MSDeployServiceURL>practicadestagiere-bjguexgbaeewbpf4.scm.polandcentral-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PracticaDeStagiere</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>